:root {
  --typography-sans:
    'Segoe UI',
    -apple-system,
    BlinkMacSystemFont;
  --typography-sans-fallback:
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  --typography-mono:
    Consolas,
    'Lucida Console',
    'SFMono-Regular',
    'SF Mono';
  --typography-mono-fallback:
    monospace;
}

:root {
  --font-body:
    var(--typography-sans),
    var(--typography-sans-fallback);
  --font-header:
    var(--typography-sans),
    var(--typography-sans-fallback);
  --font-mono:
    var(--typography-mono),
    var(--typography-mono-fallback);
}
