@import "./variables/index.css";

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}

h2,
p {
  font-weight: 400;
}

h2 {
  font-size: 1rem;
}

p {
  line-height: 1.5;
}

code {
  font-family: var(--font-mono);
}

a {
  color: var(--color-text);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
