--- # PROD.main.yml
name: Azure Deploy (PROD.main)
on: {push: {branches: [main]} }
jobs:
  build:
    name: Build
    permissions:
      contents: read
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4
      - name: Install Node
        id: node
        uses: actions/setup-node@v4
        with: {node-version: 24}
      - name: Install Dependencies
        id: ci
        run: npm ci --loglevel=error --fund=false
      - name: Build SWA
        id: build
        run: npm run deploy
      - name: Copy Azure SWA Config
        id: config
        run: cp staticwebapp.config.json build
  deploy-prod-main:
    name: Deploy (PROD.main)
    environment:
      name: PROD.main
      url: https://jim.so
    permissions:
      id-token: write
      contents: read
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
      - name: Install OIDC Client
        id: authclient
        run: npm i -g @actions/core@1.11.1 @actions/http-client@3.0.0
      - name: Get OIDC Token
        uses: actions/github-script@v6
        id: oidc
        with:
          result-encoding: string
          script: return await require('@actions/core').getIDToken()
      - name: Deploy to Azure
        id: deploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          # https://aka.ms/swaworkflowconfig
          action: upload
          app_location: build
          is_static_export: true
          skip_api_build: true
          skip_app_build: true
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_PROUD_CLIFF_044D9220F }}
          github_id_token: ${{ steps.oidc.outputs.result }}

...
